<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04_UIWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05_UIImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>06_UILabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>07_UIButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>08_UITextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>09_UIScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>10_UITableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>11_UICollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>12_UIDevice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>13_UIScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>14_UIEdgeInsets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CALayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Demo201603.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GCD01_基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>NSDate_Week&amp;Lunar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>UIView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UIViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>多线程01_pthread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>多线程02_NSThread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>多线程03_线程安全.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>多线程04_线程间通信.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C021A641CA3B0B100545E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1B085D1C9FE36A00EC0351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1B08781CA01D9B00EC0351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F3F31CA2EEC400395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F40E1CA41FD000395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4361CA4276000395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4541CA42B2900395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F46F1CA42B3D00395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F48A1CA42B5B00395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4A51CA42C1200395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4C01CA42C2100395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4DB1CA42CD900395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4F61CA42F2D00395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F5111CA42F4E00395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F52C1CA431B700395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3B23221C994AC700A16096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3B23401C994B9800A16096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C61428C1CAAD8B40063B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C6142A71CAC09D00063B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CCFECED1CAA321C0088E313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CCFED0B1CAAD5500088E313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CD8613E1CAA2DDF00D1FE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
