<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04_UIWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05_UIImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>06_UILabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CALayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Demo201603.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSDate_Week&amp;Lunar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UIViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C021A641CA3B0B100545E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1B085D1C9FE36A00EC0351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C1B08781CA01D9B00EC0351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F3F31CA2EEC400395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F40E1CA41FD000395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C39F4361CA4276000395A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3B23221C994AC700A16096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3B23401C994B9800A16096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
